body {
  background-color: #eeeeee;
}
header {
  background-color: #333;
  color: #fff;
  padding: 1rem;
}

nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
}

nav ul li {
  margin-right: 1rem;
}

nav ul li:last-child {
  margin-right: 0;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
  transition: color 0.3s ease;
}

nav ul li a:hover {
  color: #ffcc00;
}
.form-container {
  width: 600px;
  margin: 20px;
  outline: 1px solid lightgray;
  padding: 40px;
  label,
  input,
  select,
  textarea {
    display: inline-block;
    width: 100%;
    margin: 10px 0;
  }
  button {
    padding: 10px;
    width: 200px;
    color: fff;
    background-color: lightseagreen;
  }
}
